body {

  background-image:url("../img/DSC.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

#log{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center; 
}











